<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>aa</servlet-name>
        <servlet-class>day1.demo1.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aa</servlet-name>
        <url-pattern>/a/b/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>day2.生命周期.S1</servlet-class>
        <init-param>
            <param-name>blackIP</param-name>
            <param-value>192.168.1.119</param-value>
        </init-param>
        <init-param>
            <param-name>abc</param-name>
            <param-value>hello</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/day2/demo2/s1</url-pattern>
    </servlet-mapping>
</web-app>