<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="day2.demo1.dao.IUserDao">
    <sql id="userColum">
        id,name name,pass,phone,address
    </sql>

    <select id="selectById"  resultType="user">
      select <include refid="userColum"/>
      from t_user where id=#{abc}
    </select>

    <select id="selectByParam"  resultType="user">
        select <include refid="userColum"/>
        from t_user
        <where>
            <if test="id!=null">
                and id=#{id}
            </if>
            <if test="name!=null">
                and name=#{name}
            </if>
        </where>
    </select>

    <select id="selectByChose"  resultType="user">
        select <include refid="userColum"/>
        from t_user
        <where>
            <choose>
                <when test="name!=null">
                    and name=#{name}
                </when>
                <when test="pass!=null">
                    and pass=#{pass}
                </when>

                <otherwise>
                  and id=2
                </otherwise>
            </choose>

        </where>
    </select>

    <update id="updateByParam">
        update t_user
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="pass!=null">
                pass=#{pass},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>