<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jdk_proxy.UserDao">
    <insert id="add">
        insert into t_user (name,pass) values(#{name},#{pass})
    </insert>
    <update id="update">
        update t_user set name=#{name},pass=#{pass} where id=#{id}
    </update>
</mapper>